#editor {
	width: 100%;
	height: 100%;
	background-color: black;
}

.bar {
	background-color: rgb(48, 48, 48);
	border-bottom: 1px dotted #3d3d3d;
}

.windows-bar-button {
	display: inline-block;
	position: relative;
	z-index: 100;
	margin: 5px;
}

.windows-bar-button:hover .windows-bar-contents {
	display: block;
	background-color: #141414;
}

.windows-bar-contents {
	display: none;
	padding-bottom: 5px;
}

.vertical,
.panel {
	background-color: rgb(37, 37, 37);
	padding: 5px;
	border-right: 1px dotted #3d3d3d;
}

.vertical {
	/* align-items: center; */
	display: flex;
	flex-direction: column;
	gap: 5px;
}

#game {
	image-rendering: pixelated;
	width: 100%;
	height: 100%;
}

.toolbar-button {
	width: 32px;
	height: 32px;
}

.toolbar-button:hover {
	background-color: rgb(91, 91, 91);
}

.toolbar-button:active {
	background-color: rgb(69, 69, 69);
}

.selected-button {
	background-color: rgb(69, 69, 69);
}

.tab {
	height: 100%;
	float: left;
}